<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artisan Connect - Online Shopping</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="explore.css") }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{ url_for('static', filename="bg7.jpg") }}" width="40" alt="Artisan Connect Logo">
                Artisan Connect
            </div>
            <div class="search-box">
                <input id="searchInput" type="text" placeholder="Search..." onclick="toggleCategories()">
                
                <button style="border-radius:25px" type="submit">Search</button>
            </div>
            <nav>
                <ul>
                    <li><a href="profile.html" class="btn">Profile</a></li>
                    <li><a href="cart.html" class="btn">Cart</a></li>
                    <li><a href="wishlist.html" class="btn">Wishlist</a></li>
                    <li><a href="/" class="btn">Log Out</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="featured-products">
        <div class="container">
            <h2>Featured Products</h2>
            <div class="product-grid">
                
                <div class="product-card clothing">
                    <img src="{{ url_for('static', filename="clothing.jpg") }}" width="85" height="90" alt="Product 2">
                    <h3>Towel</h3>           
                    <button class="categories" onclick="viewProductDetails('Towel')">View Details</button>         
                </div>
                <div class="product-card pottery">
                    <img src="{{ url_for('static', filename="pottery.jpg") }}" width="85" height="90" alt="Product 3">
                    <h3>Pot</h3>
                    <button class="categories" onclick="viewProductDetails('Pot')">View Details</button>
                </div>
                <div class="product-card jewellery">
                    <img src="{{ url_for('static', filename="jewellery.jpg") }}" width="85" height="90" alt="Product 4">
                    <h3>Necklace</h3>   
                    <button class="categories" onclick="viewProductDetails('Necklace')">View Details</button>                
                </div>
                <div class="product-card food-products">
                    <img src="{{ url_for('static', filename="food-products.jpg") }}" width="85" height="90" alt="Product 5">
                    <h3>Mix Chikki</h3>             
                    <button class="categories" onclick="viewProductDetails('Mix Chikki')">View Details</button>                       
                </div>
                <div class="product-card pottery">
                    <img src="{{ url_for('static', filename="pottery1.jpg") }}" width="85" height="90" alt="Product 6">
                    <h3>Vase</h3>                    
                    <button class="categories" onclick="viewProductDetails('Vase')">View Details</button>                
                </div>
            </div>
            </div>
        </div>
    </section>

    <section class="categories">
        <div class="container">
            <div>
                <p onclick="showCategory('handmade')">Handmade Products</p>
                <p onclick="showCategory('clothing')">Clothing</p>
                <p onclick="showCategory('jewellery')">Jewellery</p>
                <p onclick="showCategory('food-products')">Food Products</p>
                <p onclick="showCategory('pottery')">Pottery</p>

            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Artisan Connect. All rights reserved.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename="explore.js") }}"></script>
</body>
</html>
